//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');

//SCSS
@import 'base/index';

h1 {
  color: $red-brown;
  font-family: $stack-fascinate;
}

h2 {
  align-self: center;
  color: $white;
  font-family: $stack-fascinate;
  margin: 0 auto;
  text-align: center;
}

footer {
  font-family: $stack-fascinate;
  text-align: center;
  width: 100%;
}

.black {
  background: $black;
  border: 1px solid $black;
  box-shadow: 5px 5px 30px $black;
  display: flex;
  height: 100px;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.graph {
  margin: 3% auto;
}
